<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v3.0.0-alpha.1
* @link https://coreui.io
* Copyright (c) 2019 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>Trip Load</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ env('APP_URL', 'assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Icons-->
    <link href="css/free.min.css" rel="stylesheet"> <!-- icons -->
    <!--<link href="css/flag-icon.min.css" rel="stylesheet"> -->
    <!-- icons -->
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="css/coreui-chartjs.css" rel="stylesheet">
</head>



<body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand" style="background-color:#fff;"><img class="c-sidebar-brand-full"
                src="assets/brand/trip-load-logo.png" width="118" height="46" alt="CoreUI Logo"><img
                class="c-sidebar-brand-minimized" src="assets/brand/trip-load-logo.png" width="118" height="46"
                alt="CoreUI Logo"></div>

        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-speedometer c-sidebar-nav-icon"></i>

                    Dashboard
                </a>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-calculator c-sidebar-nav-icon"></span>Settings</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Users</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Edit Menu</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Edit Menu
                            Elements</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Edit Roles</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Media</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Bread</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-title">
                Master Data
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-user-follow c-sidebar-nav-icon"></span>Users</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vendors</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Clients</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Drivers</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-notes c-sidebar-nav-icon"></i>
                    Manage Profile
                </a>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-truck c-sidebar-nav-icon"></span>Vehicles</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle Master</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle List</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-money c-sidebar-nav-icon"></span>Rate Master</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Rate Categories</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>FTL Rates</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>PTL Rates</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Master Rate Card</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-notes c-sidebar-nav-icon"></span>Client Requirements</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle Master</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle List</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-dollar c-sidebar-nav-icon"></span>Business Opportunities</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Requirements</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle List</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-truck c-sidebar-nav-icon"></i>
                    Trips
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-location-pin c-sidebar-nav-icon"></i>
                    Tracking
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-cash c-sidebar-nav-icon"></i>
                    Payments
                </a>
            </li>
        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
            data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler d-lg-none mr-auto" type="button" data-target="#sidebar"
                data-class="c-sidebar-show"><span class="c-header-toggler-icon"></span></button><a
                class="c-header-brand d-sm-none" href="#"><img class="c-header-brand"
                    src="assets/brand/trip-load-logo.png" width="97" height="46" alt="CoreUI Logo"></a>
            <ul class="c-header-nav ml-auto mr-4">
                <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="c-avatar"><img class="c-avatar-img" src="assets/img/avatars/6.jpg"
                                alt="user@email.com"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pt-0">
                        <a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="icons/sprites/free.svg#cil-lock-locked"></use>
                            </svg> Change Password</a><a class="dropdown-item" href="">
                            <svg class="c-icon mr-2">
                                <use xlink:href="icons/sprites/free.svg#cil-account-logout"></use>
                            </svg> Logout</a>
                    </div>
                </li>
            </ul>

        </header>

        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="row">
							<div class="col-md-12 mb-2">
								<div class="card-header">
									<nav aria-label="breadcrumb" role="navigation">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="#">Client Creation Form</a></li>
										</ol>
									</nav>
								</div>
							</div>
                            <div class="col-md-12 mb-2">
                                <div class="card">
                                    <div class="card-header">
									<nav aria-label="breadcrumb" role="navigation">
										<ol class="breadcrumb">
											
											<li class="breadcrumb-item active" aria-current="page">Enter Pick Up Details</li>
										</ol>
									</nav>
									</div>
                                    <div class="card-body">
                                        <form class="form-horizontal" action="" method="post"
                                            enctype="multipart/form-data">
											<div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="" for="pickup_location">Location name</label>
                                                
                                                    <input class="form-control" id="pickup_location" type="text" name="pickup_location" placeholder="FETCH FROM DATABASE"><span class="help-block">FETCH FROM DATABASE </span>
                                                
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class=""
                                                    for="pickup_address">Address</label>
                                                    <input class="form-control" id="pickup_address" type="text" name="pickup_address" placeholder="Enter your address"><span class="help-block">Please enter pick-up address</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="" for="pickup_state">State</label>
                                                <select class="form-control" id="pickup_state" name="pickup_state">
                                                    <option value="0">Select State</option>
                                                    <option value="">1</option>
													<option value="">2</option>
                                                    <option value="">3</option>
													</select><span class="help-block">Please select type</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="" for="pickup_city">City</label>
                                                <select class="form-control" id="pickup_city" name="pickup_city">
                                                    <option value="0">Select City</option>
                                                    <option value="">1</option>
													<option value="">2</option>
                                                    <option value="">3</option>
													</select><span class="help-block">Please select type</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class=""
                                                    for="pickup_landmark">Landmark</label>
                                                    <input class="form-control" id="pickup_landmark" type="text" name="pickup_landmark" placeholder="Enter your landmark"><span class="help-block">Please enter your landmark</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class=""
                                                    for="pickup_contact_person">Contact Person</label>
                                                    <input class="form-control" id "pickup_contact_person" type="text" name="pickup_contact_person" placeholder="Enter contact person"><span class="help-block">Please enter contact person</span>
                                            </div>
											<div class="form-group col-md-4">
                                                <label class=""
                                                    for="pickup_mob_no">Mobile Number</label>
                                                    <input class="form-control" id="pickup_mob_no" type="text" maxlength="10" minlength="10" pattern="[0-9]{10}" name="pickup_mob_no" placeholder="Please enter your mobile number"><span class="help-block">Please enter a valid mobile number</span>
                                            </div>
											</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-->
							<div class="col-md-12 mb-2">
                                <div class="card">
                                    <div class="card-header">
									<nav aria-label="breadcrumb" role="navigation">
										<ol class="breadcrumb">
											<li class="breadcrumb-item active" aria-current="page">Enter Drop Details</li>
										</ol>
									</nav>
									</div>
                                    <div class="card-body">
                                        <form class="form-horizontal" action="" method="post"
                                            enctype="multipart/form-data">
											<div class="row">
                                            <div class="form-group col-md-4">
                                                <label class=" col-form-label" for="drop_location">Location name</label>
                                                <input class="form-control" id="drop_location" type="text" name="drop_location" placeholder="FETCH FROM DATABASE"><span class="help-block">FETCH FROM DATABASE </span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="" for="drop_address">Address</label>
                                                <input class="form-control" id="drop_address" type="text" name="drop_address" placeholder="Enter your address"><span class="help-block">Please enter pick-up address</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="" for="drop_state">State</label>
                                                <select class="form-control" id="drop_state" name="drop_state">
                                                    <option value="0">Select State</option>
                                                    <option value="">1</option>
													<option value="">2</option>
                                                    <option value="">3</option>
													</select><span class="help-block">Please select type</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="" for="drop_delivery_points">Delivery Points</label>
                                                    <input class="form-control" id="drop_delivery_points" type="text" name="drop_delivery_points" placeholder="Delivery Points"><span class="help-block">Delivery Points</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="" for="drop_city">City</label>
                                                <select class="form-control" id="drop_city" name="drop_city">
                                                    <option value="0">Select City</option>
                                                    <option value="">1</option>
													<option value="">2</option>
                                                    <option value="">3</option>
													</select><span class="help-block">Please select type</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="" for="drop_landmark">Landmark</label>
                                                    <input class="form-control" id="drop_landmark" type="text" name="drop_landmark" placeholder="Enter your landmark"><span class="help-block">Please enter your landmark</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class=""
                                                    for="drop_contact_person">Contact Person</label>
                                                    <input class="form-control" id="drop_contact_person" type="text" name="drop_contact_person" placeholder="Enter contact person"><span class="help-block">Please enter contact person</span>
                                            </div>
											<div class="form-group col-md-4">
                                                <label class=""
                                                    for="drop_mob_no">Mobile Number</label>
                                                    <input class="form-control" id="drop_mob_no" type="text" maxlength="10" minlength="10" pattern="[0-9]{10}" name="drop_mob_no" placeholder="Please enter your mobile number"><span class="help-block">Please enter a valid mobile number</span>
                                            </div>
											</div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-->
							<div class="col-md-12 mb-2">
                                <div class="card">
                                    <div class="card-header">
									<nav aria-label="breadcrumb" role="navigation">
										<ol class="breadcrumb">
											<li class="breadcrumb-item active" aria-current="page">Enter Freight Details</li>
										</ol>
									</nav>
									</div>
                                    <div class="card-body">
                                        <form class="form-horizontal" action="" method="post"
                                            enctype="multipart/form-data">
											<div class="row">
                                            <div class="form-group col-md-4">
                                                <label class="" for="freight_total_weight">Total Weight</label>
                                                    <input class="form-control" id="freight_total_weight" type="text" name="freight_total_weight" placeholder="Total Weight"><span class="help-block">Total Weight </span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class=""
                                                    for="freight_truck_type">Truck Type</label>
                                                    <input class="form-control" id="freight_truck_type" type="text" name="freight_truck_type" placeholder="truck-type"><span class="help-block">DATA FETCH FROM DATABASE</span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label class="" for="freight_shipment_type">Type of Shipment</label>
                                                    <select class="form-control" id="freight_shipment_type" name="freight_shipment_type">
                                                        <option value="0">Type of Shipment</option>
                                                        <option value="fragile">Fragile</option>
                                                        <option value="perishable">Perishable</option>
														<option value="standard-shipping">Standard Shipping</option>
                                                    </select><span class="help-block">Please select Type of Shipment</span>
                                            </div>
											<div class="form-group col-md-4">
                                                <label class="" for="freight_type">Type</label>
                                                    <select class="form-control" id="freight_type" name="freight_type">
                                                        <option value="0">Select Type</option>
                                                        <option value="ftl">FTL</option>
														<option value="ftlhomedel.">FTL Home Del.</option>
                                                        <option value="ecom">Ecom</option>
                                                    </select><span class="help-block">Please select type</span>
                                            </div>
											<div class="form-group col-md-4">
                                                <label class=""
                                                    for="freight_discription">Material Discription</label>
                                                    <input class="form-control" id="freight_discription" type="text" name="freight_discription" placeholder="Material Discription"><span class="help-block">Material Discription</span>
                                            </div>
											</div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- /.col-->
							<div class="col-md-12 mb-2">
                                <div class="card">
                                    <div class="card-body">
                                        <form class="form-horizontal" action="" method="post"
                                            enctype="multipart/form-data">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">GPS</label>
                                                <div class="col-md-9 col-form-label">
                                                    <div class="form-check form-check-inline mr-1">
                                                        <input class="form-check-input" id="gps" type="radio" value="option1" name="gps">
                                                        <label class="form-check-label" for="gps">Yes</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mr-1">
                                                        <input class="form-check-input" id="gps" type="radio"
                                                            value="option2" name="inline-radios">
                                                        <label class="form-check-label" for="gps">No</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label">Loading/Unloading</label>
                                                <div class="col-md-9 col-form-label">
                                                    <div class="form-check form-check-inline mr-1">
                                                        <input class="form-check-input" id="yes" type="radio" value="yes" name="loading_unloading">
                                                        <label class="form-check-label" for="yes">Yes</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mr-1">
                                                        <input class="form-check-input" id="no" type="radio"
                                                            value="no" name="loading_unloading">
                                                        <label class="form-check-label" for="no">No</label>
                                                    </div>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="pickup_date">Pickup Date and Time</label>
                                                <div class="col-md-4">
                                                    <input class="form-control" id="pickup_date" type="date" name="pickup_date" placeholder="date"><span
                                                        class="help-block">Please enter a valid date</span>
                                                </div>
												<div class="col-md-4">
													<input class="form-control" type="time" id="pickup_time" name="pickup_time"><span
                                                        class="help-block">Please enter a valid date</span>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="date-input">Dropup Date and Time</label>
                                                <div class="col-md-4">
                                                    <input class="form-control" id="dropup_date" type="date" name="dropup_date" placeholder="date"><span
                                                        class="help-block">Please enter a valid time</span>
                                                </div>
												<div class="col-md-4">
													<input class="form-control" type="time" id="dropup_time" name="dropup_time"><span class="help-block">Please enter a valid time</span>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="additional_comments">Additional Comments</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="additional_comments" type="text" name="additional_comments" placeholder="Additional Comments"><span class="help-block">Additional Comments</span>
                                                </div>
                                            </div>
                                    <div class="card-footer">
                                        <button class="btn btn-sm btn-primary" type="submit" href="enter-freight-details.html"> Next</button>
                                        <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                                    </div>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- /.col-->
							
							
							
                        </div>
                        <!-- /.row-->
                    </div>
                </div>
            </main>
            <footer class="c-footer">
                <div><a href="http://advaycorp.in/">AdvayCorp</a> &copy; 2021 TripLoad.</div>
                <div class="ml-auto">Powered by&nbsp;<a href="https://abhaytech.com/">Abhay TechSolutions</a></div>
            </footer>
        </div>
    </div>

    <script src="js/coreui.bundle.min.js"></script>
    <script src="js/coreui-utils.js"></script>
    <script src="js/tooltips.js"></script>
</body>

</html>