<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v3.0.0-alpha.1
* @link https://coreui.io
* Copyright (c) 2019 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    <title>Trip Load</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ env('APP_URL', 'assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Icons-->
    <link href="css/free.min.css" rel="stylesheet"> <!-- icons -->
    <!--<link href="css/flag-icon.min.css" rel="stylesheet"> -->
    <!-- icons -->
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <link href="css/coreui-chartjs.css" rel="stylesheet">
</head>



<body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
        <div class="c-sidebar-brand" style="background-color:#fff;"><img class="c-sidebar-brand-full"
                src="assets/brand/trip-load-logo.png" width="118" height="46" alt="CoreUI Logo"><img
                class="c-sidebar-brand-minimized" src="assets/brand/trip-load-logo.png" width="118" height="46"
                alt="CoreUI Logo"></div>

        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-speedometer c-sidebar-nav-icon"></i>

                    Dashboard
                </a>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-calculator c-sidebar-nav-icon"></span>Settings</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Users</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Edit Menu</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Edit Menu
                            Elements</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Edit Roles</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Media</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Bread</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-title">
                Master Data
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-user-follow c-sidebar-nav-icon"></span>Users</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vendors</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Clients</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Drivers</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-notes c-sidebar-nav-icon"></i>
                    Manage Profile
                </a>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-truck c-sidebar-nav-icon"></span>Vehicles</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle Master</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle List</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-money c-sidebar-nav-icon"></span>Rate Master</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Rate Categories</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>FTL Rates</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>PTL Rates</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Master Rate Card</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-notes c-sidebar-nav-icon"></span>Client Requirements</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle Master</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle List</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
                <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                    <span class="cil-dollar c-sidebar-nav-icon"></span>Business Opportunities</a>
                <ul class="c-sidebar-nav-dropdown-items">
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Requirements</a>
                    </li>
                    <li class="c-sidebar-nav-item">
                        <a class="c-sidebar-nav-link" href="#"><span class="c-sidebar-nav-icon"></span>Vehicle List</a>
                    </li>
                </ul>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-truck c-sidebar-nav-icon"></i>
                    Trips
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-location-pin c-sidebar-nav-icon"></i>
                    Tracking
                </a>
            </li>
            <li class="c-sidebar-nav-item">
                <a class="c-sidebar-nav-link" href="#">
                    <i class="cil-cash c-sidebar-nav-icon"></i>
                    Payments
                </a>
            </li>
        </ul>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
            data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler d-lg-none mr-auto" type="button" data-target="#sidebar"
                data-class="c-sidebar-show"><span class="c-header-toggler-icon"></span></button><a
                class="c-header-brand d-sm-none" href="#"><img class="c-header-brand"
                    src="assets/brand/trip-load-logo.png" width="97" height="46" alt="CoreUI Logo"></a>
            <ul class="c-header-nav ml-auto mr-4">
                <li class="c-header-nav-item dropdown"><a class="c-header-nav-link" data-toggle="dropdown" href="#"
                        role="button" aria-haspopup="true" aria-expanded="false">
                        <div class="c-avatar"><img class="c-avatar-img" src="assets/img/avatars/6.jpg"
                                alt="user@email.com"></div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right pt-0">
                        <a class="dropdown-item" href="#">
                            <svg class="c-icon mr-2">
                                <use xlink:href="icons/sprites/free.svg#cil-lock-locked"></use>
                            </svg> Change Password</a><a class="dropdown-item" href="">
                            <svg class="c-icon mr-2">
                                <use xlink:href="icons/sprites/free.svg#cil-account-logout"></use>
                            </svg> Logout</a>
                    </div>
                </li>
            </ul>

        </header>

        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header">
									<nav aria-label="breadcrumb" role="navigation">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="#">Trip Creation Form</a></li>
										</ol>
									</nav>
									</div>
                                    <div class="card-body">
                                        <form class="form-horizontal" action="" method="post"
                                            enctype="multipart/form-data">
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_trip_id">Trip ID</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_trip_id" type="text" name="txt_trip_id" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_from">From</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_from" type="text" name="txt_from" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_type_of_load">Type Of Load</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_type_of_load" type="text" name="txt_type_of_load" placeholder="Autofill" readonly> 
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_points_of_del">Points of Del. </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_points_of_del" type="text" name="txt_points_of_del" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_weight">Weight </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_weight" type="text" name="txt_weight" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_truck_type">Truck Type </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_truck_type" type="text" name="txt_truck_type" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_type_of_shipment">Type of Shipment </label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_type_of_shipment" type="text" name="txt_type_of_shipment" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_discription">Material Discription</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_discription" type="text" name="txt_discription" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_gps">GPS</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_gps" type="text" name="txt_gps" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_load_unload">Loading/Unloading</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_load_unload" type="text" name="txt_load_unload" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_pickup_time">Pickup Date and Time</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_pickup_time" type="text" name="txt_pickup_time" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_dropup_time">Drop Date and Time</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_dropup_time" type="text" name="txt_dropup_time" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label"
                                                    for="txt_comments">Additonal Comments</label>
                                                <div class="col-md-8">
                                                    <input class="form-control" id="txt_comments" type="text" name="txt_comments" placeholder="Autofill" readonly>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="select1">Vehicle Selection</label>
                                                <div class="col-md-8">
                                                    <select class="form-control" id="select1" name="organization-type">
                                                        <option value="0">Vehicle Selection</option>
                                                        <option value="onetime">1</option>
                                                        <option value="monthly">2</option>
                                                    </select><span class="help-block">Drop Down from database or add new</span>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="select1">Driver</label>
                                                <div class="col-md-8">
                                                    <select class="form-control" id="select1" name="organization-type">
                                                        <option value="0">Driver</option>
                                                        <option value="onetime">1</option>
                                                        <option value="monthly">2</option>
                                                    </select><span class="help-block">Drop Down from database or add new</span>
                                                </div>
                                            </div>
											<div class="form-group row">
                                                <label class="col-md-3 col-form-label" for="date-input">Tentative date and time of placement</label>
                                                <div class="col-md-4">
                                                    <input class="form-control" id="date-input" type="date"
                                                        name="date-input" placeholder="date"><span
                                                        class="help-block">Please enter a valid date</span>
                                                </div>
												<div class="col-md-4">
                                                     
													<input class="form-control" type="time" id="appt" name="appt"><span
                                                        class="help-block">Please enter a valid date</span>
                                                </div>
                                            </div>
											
                                        </form>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-sm btn-primary" type="submit" href="enter-freight-details.html"> Next</button>
                                        <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
                                    </div>
                                </div>
                                
                            </div>
                            <!-- /.col-->
                        </div>
                        <!-- /.row-->
                    </div>
                </div>
            </main>
            <footer class="c-footer">
                <div><a href="http://advaycorp.in/">AdvayCorp</a> &copy; 2021 TripLoad.</div>
                <div class="ml-auto">Powered by&nbsp;<a href="https://abhaytech.com/">Abhay TechSolutions</a></div>
            </footer>
        </div>
    </div>
    <script src="js/coreui.bundle.min.js"></script>
    <script src="js/coreui-utils.js"></script>
    <script src="js/tooltips.js"></script>
</body>
</html>