@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
}
.center{
text-align:center;
}
.weight100{
font-weight:100;
}
.weight800{
font-weight:700;
}
.m_top50{
margin-top: 50px;
}
.logo{
position: absolute;
 top: 29px;
 width: 12%;
 }
table, th, td {border:1px solid #000;
border-collapse: collapse;
text-align:center;
}
table.table_1, th.table_1, td.table_1 {
border:none;
border-collapse: unset;
text-align:left;
}
.blue{
color:blue;
}
.red{
color:red;
}
.left{
text-align:left;
padding-left:10px;
}
hr{margin-top:50px;
color:#000;
}
.container{
    max-width: 1350px!important;
}